.bundle
.idea
tmp/
*.iml
**/.idea
log
.metadata
.svn
*.pid
dump.rdb
spec/reports
S3Upload.rb
dump.rdb
config/initializers/dashconfig_initializer.rb
config/initializers/redis.rb
notification_server/redis_config.js
public/javascripts/*
db/*
public/assets
node_modules
javascript_spec/public/tests.json